body {
    background-color: #e1f1e1 !important;
}

.margin10 {
    margin: 5px;
}

#informations {
    height:300px;
}

#middleBody {
    height:300px;
}

#waterFlowChart {
    height: 250px;
}

.btn {
    user-select: none !important;
}

.btn:focus {
    outline: medium none !important;
}